{% extends 'base.html' %}

{% block titulo %}  
    Dinosaurios
{% endblock titulo %}

{% block contenido %}

    <h3>Lista dinosaurios</h3>
    <a href="{% url "nuevo_dino" %}" class="btn btn-primary bt-sm">Agregar dinosaurio</a>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <th>ID Dinosaurio</th>
            <th>Nombre del dinosaurio</th>
            <th>Altura</th>
            <th>Periodo</th>
            <th>Imagen</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for dino in object_list %}
                <tr>
                    <td>{{dino.id}}</td>
                    <td>{{dino.nombre}}</td>
                    <td>{{dino.altura}}</td>
                    <td>{{dino.periodo}}</td>
                    <td><img src="{{MEDIA_URL}}{{dino.imagen}}" class="img-dinos" width="40px"alt="{{dino.nombre}}"></td>
                    <td>
                        <a href="{% url "eliminar_dinos" dino.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url "editar_dinos" dino.id %}" class="btn btn-success btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
