{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Gráfica
{% endblock titulo %}
    
{% block contenido %}
        <div id="grafica" style="min-width: 310px;height: 400px; margin: 0 auto;"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/exporting-data.js"></script>

        <script>
            Highcharts.chart('grafica',{
                lang:{
                    downloadCSV: "Descarga CSV",
                    downloadJPEG: "Descarga imagen JPEG",
                    downloadPDF: 'Descarga PDF',
                    downloadPNG: 'Descarga imagen PNG',
                    downloadSVG: 'Descarga en imagen de vetores',
                    viewFullscreen: 'Ver en pantalla completa',
                    printChart: 'Imprimir gráfica',
                },
                chart:{
                    type: 'column',
                },
                title: {
                    text: 'Gráfica de dinosaurios'
                },
                subtitle: {
                    text:'Cuantos dinosaurios por perido'
                },
                xAxis:{
                    categories: ['Periodos']
                },
                yAxis:{
                    min: 0,
                    title:{
                        text: 'Cantidad de dinosaurios'
                    }
                },
                plotOptions:{
                    column:{
                        pointPaddin: 0.2,
                        borderWidth: 0,
                    }
                },
                series: {{datos | safe}}

            });
        </script>
{% endblock contenido %}
